*{
    margin: 0;
    padding: 0;
}
#maintext{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 3rem;
    font-weight: 700;
    font-family: 'poppins' ,sans-serif;
    color: green;
}
#maincontainer{
    /* margin: 1rem 0rem; */
    padding: 2rem 0;
 width: 100%;
 height: fit-content;
 display: flex;
 /* background-color: aqua; */
 margin-bottom: 40rem;
 overflow: hidden;
}
#form-img-wrap{
    width: 55%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;

}
#form-img{
  width: 95%;
  height: 45rem;
  background-image: url('../images/3.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50px;
  box-shadow: 0 0 20px -4px black;
}

#form-content{
    width: 45%;
    height: 45rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 2rem;
    
}
#form-content form{
    width: 100%;
    height: 100%;
}
#form-content .form1{
    width: 100%;
    height: 45rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem 0rem 0rem 0rem;
}
#form-content #form-crop-pred-title{
   font-weight: 600;
   font-size: 2rem;
   display: flex;
   align-items: center;
   justify-content: center;
   width: 100%;
}


.crop_pred_att input{
   width: 35rem;
  height: 3rem;
  border-radius: 20px;
  padding-left: 1rem;
  border: none;
  outline: none;
  font-size: 1.2rem;
  box-shadow: 0 0 10px -4px black;

}
.crop_pred_att{
    margin-bottom: 1.5rem;
    height:3rem;
}
.crop_pred_att button{
    background-color: red;
    width: 20rem;
    height: 3rem;
    border-radius: 30px;
}




/* crop predication top container */

