*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
#market_page{
    width: 100%;
    height: 100%;
    background-image: url('../../public/assets/mar_img.jpg');
    background-repeat: no-repeat;
    background-size: cover;

}
#mar_back{
    background: transparent;
    backdrop-filter: blur(7px);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: baseline;


}
#mar_form_cnt{
    margin-top: 3rem;
    width: 40%;
    height: fit-content;
    box-shadow: 0 0 100px 10px;
    border-radius: 50px;
    font-family: 'poppins',sans-serif;
    background-image: url('../../public/assets/mar_img.jpg');
    background-repeat: no-repeat;
    background-size:100% 100%;

}
#mar_form_back{
    width: 100%;
    display: grid;
    justify-items: center;
    align-items: center;
    background: transparent;
    backdrop-filter: blur(20px);
    border-radius: 50px;
 

}
#mar_form{
    width: 100%;
    display: grid;
    justify-items: baseline;
    align-items: center;
    padding-left: 5rem;
    backdrop-filter: blur(25px);
}
#mar_news_cl{
    margin: 1rem;
    padding: 0 1rem;
    height: 22rem;
}
#mar_form_cnt h2{
     padding: 2rem;
     color: #FFD95A ;
}
#mar_form_cnt input,#mar_form_cnt button{
    width: 27rem;
    margin-bottom: .5rem;
    height: 2rem;
    border-radius: 15px;
    border: none;
    outline: none;
}
#mar_times{
    display: flex;
    gap: 0rem;
}
#mar_times input{
    width: 6rem;
}
#mar_form_cnt label{
    padding-left: .5rem;
    font-weight: 500;
    color: #54B435;
}
#mar_form_cnt input{
    padding-left: 1rem;
    background-color: #F9E2AF;
    box-shadow: 0 0 8px -2px black;
    color: #26370f;
    font-weight: 600;
    color: #26370f;
    font-size: 1rem 

}
#mar_form_cnt button{
    margin-bottom: 4rem;
    margin-top: 1rem;
    background-color:#92a871;
    box-shadow: 0 0 10px -2px black;

}
#mar_form_cnt p{
    padding-top: 0;
    padding-left: 1rem;
    margin: 0;
    font-size: .8rem;
}

/* new form  */
#main_sec{
    width: 50%;
    height: 10rem;
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin: 5rem 25rem;
}