.weather {
    position: relative;
    height: 100vh;
    width: 100%;
    background-image: url('../../public/assets/weather_bg.jpg');
    padding: 4rem;
    margin: 0;
    margin-bottom: 10rem;
    z-index: -2;
}

.weather-lottie {
    display: flex;
    position:absolute;
    margin-top: 15rem;
    left: 40rem;
    z-index: 0;
}

.top{
    position: relative;
    top: -7rem;
    margin: 5rem;
    display: inline-block;
}

.location {
    font-size: 8rem;
    font-weight: bold;
    color:orange;
}

.temp{
    padding: 0 0.5rem;
    font-size: 2rem;
    font-style: italic;
    color: #5F264A;
}

.description {
    padding: 0 0.5rem;
    margin-top: 1rem;
    font-size: 2rem;
    font-style: italic;
    color: #0C134F;
    font-weight: bold;
}

.bottom{
    display: inline-block;
    margin-left: 40rem;
    margin-top: 10rem;
}

.feels, .humidity, .wind{
    padding: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
    color: #0C134F;
}

.bold{
    font-weight: bolder;
    font-style: italic;
    color: #5F264A;
}

